/* 
    Created on : 29/03/2017, 02:14:58 PM
    Author     : William
*/

.error {
    background-color: #7F0202 !important;
}

.mdl-chip {
    cursor: pointer;
}

#add_restricted_toggle {
    position: fixed;
    right: 70px;
    bottom: 70px;
}